# IDE and Editor
.vscode/
.windsurf/

# Python
*.pyc
__pycache__/
.venv/
venv/
env/

# Flask
instance/
app.log

# Environment and Secrets
.env
.env.*
.env.backup
.envbackup

# Database
*.db

# Logs
logs/
logs

# Data and Backups
data/backups/

# Documentation
docs/FRONTEND_MIGRATION_PLAN.md
docs/FRONTEND_DESIGN_MIGRATION.md
docs/MODERNIZATION_PLAN.md
# docs/BACKEND_FRONTEND_INTEGRATION_PLAN.md


# Temporary and Test Files
templates/test.html
setup_route_for_admin.md

# Dump Files
zzDumpfiles/

# macOS
.DS_Store
