# IDE and Editor
.vscode/
.windsurf
.windsurf/

# Python
*.pyc
__pycache__/
.venv/
venv/

# Flask
instance/
app.log

# Environment and Secrets
.env
.env.backup
#.env*

# Database
*.db

# Logs
logs
logs/

# Data and Backups
data/backups/

# Temporary and Test Files
templates/test.html
setup_route_for_admin.md

# Dump Files
zzDumpfiles/