.email-templates-container {
  margin: 20px auto;
  max-width: 1500px;
  padding: 20px;
  font-family: 'Noto Sans Mono', monospace;
}

#addTemplateForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#addTemplateForm input[type='text'],
#addTemplateForm textarea {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Noto Sans Mono', monospace;
}

#addTemplateForm textarea {
  min-height: 100px;
  resize: vertical;
}

#addTemplateForm button[type='submit'] {
  align-self: flex-start; /* Move button to the bottom of text area */
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  font-family: 'Noto Sans Mono', monospace;
  transition: background-color 0.3s ease;
}

#addTemplateForm button[type='submit']:hover {
  background-color: #003d82;
}

/* Grid layout for template list */
#templateList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal-width columns */
  grid-template-rows: repeat(5, auto); /* Auto height rows, max of 5 rows */
  gap: 20px; /* Space between grid items */
}

.template {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.template-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.template-content {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.template input[type='text'],
.template textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: inherit;
}

.template textarea {
  min-height: 100px;
  resize: vertical;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button-group button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: inherit;
}

.update-btn {
  background-color: #0056b3;
  color: white;
}

.update-btn:hover {
  background-color: #003d82;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

.save-btn,
.cancel-btn {
  display: none;
}

.save-btn {
  background-color: #2196f3;
  color: white;
}

.cancel-btn {
  background-color: #ff9800;
  color: white;
}

.copy-btn {
  background-color: #4CAF50;
  color: white;
}

.copy-btn:hover {
  background-color: #388e3c;
}

/* Dark mode styles */
body.dark-theme .email-templates-container {
  background-color: #1e1e1e;
  color: #fff;
  font-family: 'Noto Sans Mono', monospace;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 128, 0, 0.5);
}

body.dark-theme .email-templates-container h1,
body.dark-theme .email-templates-container h2 {
  color: #fff;
}

body.dark-theme .template {
  background-color: #2c2c2c;
  border-color: #444;
}

body.dark-theme .template input[type='text'],
body.dark-theme .template textarea {
  background-color: #333;
  color: #fff;
  border-color: #555;
}

body.dark-theme .update-btn {
  background-color: #38b000;
}

body.dark-theme .update-btn:hover {
  background-color: #008000;
}

body.dark-theme .delete-btn {
  background-color: #d32f2f;
}

body.dark-theme .save-btn {
  background-color: #1976d2;
}

body.dark-theme .save-btn:hover {
  background-color: #1565c0;
}

body.dark-theme .cancel-btn {
  background-color: #f57c00;
}

body.dark-theme .copy-btn {
  background-color: #ccb34e;
  color: white;
  font-family: 'Noto Sans Mono', monospace;
}

body.dark-theme .copy-btn:hover {
  background-color: #EBB02D;
}

body.dark-theme #addTemplateForm input[type='text'],
body.dark-theme #addTemplateForm textarea {
  background-color: #333;
  color: #fff;
  border-color: #555;
}

body.dark-theme #addTemplateForm button[type='submit'] {
  background-color: #38b000;
  color: white;
}

body.dark-theme #addTemplateForm button[type='submit']:hover {
  background-color: #388E3C;
}

/* Responsive behavior for smaller screens */
@media (max-width: 800px) {
  #templateList {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Switch to 2 columns on smaller screens */
  }
}

@media (max-width: 500px) {
  #templateList {
    grid-template-columns: 1fr; /* Switch to 1 column on very small screens */
  }
}
