.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans Mono', monospace;
    margin: 100px auto; /* Centers container vertically */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px; /* Sets a maximum width for the container */
    width: 100%; /* Ensures it scales well with the screen */
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); /* Adds a subtle shadow */
}

.login-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Make the form take up the full width of the container */
}

.login-container form input {
    width: 100%; /* Ensures inputs take up the full form width */
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.login-container form button {
    background-color: #38b000;
    color: white;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
}

.login-container form button:hover {
    background-color: #008000;
}

/* Dark mode */
body.dark-theme .login-container {
    background-color: #1e1e1e; /* Dark background for dark theme */
    color: white; /* White text for dark theme */
    box-shadow: 0 0 10px 0 rgba(0, 128, 0, 0.5); /* Adds a subtle shadow */
}

body.dark-theme .login-container form input {
    background-color: #333; /* Darker input background */
    color: white; /* White text for inputs */
    border: 1px solid #555; /* Darker border for inputs */
}

body.dark-theme .login-container form button {
    background-color: #38b000; /* Keep button color */
    color: white; /* White text for button */
}



