{% extends "base.html" %}

{% block title %}
Welcome to XDV: Support Tool
{% endblock %}

{% block content %}
<h1 class="index-heading">The OmniTool</h1>

<ul class="index-list">
    <li>Convert NSC Version to Readable Date and Time</li>
    <li>Steps to Reproduce Template to Easy Documentation for Case Summary</li>
    <li>Tax Calculator for NSC Error: Web Order Total is unmatched to NetSuite Total</li>
    <li>Character Counter for Defect</li>
</ul>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
