{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <div class="login-container">
      <h1>Login</h1>
      <form method="POST">
          <input type="text" name="username" placeholder="Username" required>
          <input type="password" name="password" placeholder="Password" required>
          <input type="hidden" name="role" value="user">
          <button type="submit">Login</button>
      </form>
      
      <div style="text-align: center; margin-top: 15px;">
          <a href="{{ url_for('auth.forgot_password') }}">Forgot Password?</a>
      </div>
      </div>
    
    {% if error %}
        <div class="flash-message error">{{ error }}</div>
    {% endif %}

    {% if role == 'admin' %}
        <p>Welcome, {{ username }}! You have full access.</p>
    {% elif role == 'superadmin' %}
        <p>Welcome, {{ username }}! You have all the privileges.</p>
    {% elif role == 'user' %}
        <p>Welcome, {{ username }}!</p>
    {% endif %}
{% endblock %}