{% extends "base.html" %}

{% block title %}
Theme Toggle Test
{% endblock %}

{% block content %}
<button class="base-toggle-btn">Toggle Theme</button>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    console.log('Script is running');
    const toggleButton = document.querySelector('.base-toggle-btn');

    if (!toggleButton) {
        console.error('Theme toggle button not found');
        return;
    }

    console.log('Theme toggle button found');
    toggleButton.addEventListener('click', function() {
        document.body.classList.toggle('dark-theme');
        document.body.classList.toggle('light-theme');
        console.log('Theme toggled');
        });
    });
</script>
{% endblock %}
