{% extends "base.html" %}
{% block content %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard.css') }}">
{% endblock %}

<div class="user-dashboard-container">
    <h1>User Dashboard</h1>
    <p>Welcome, {{ session['username'] }}!</p>

    <h2>Available Tools</h2>
    <ul class="tool-list">
    {% for tool in user_tools %}
        <li class="tool-card"><a href="{{ url_for('tool.check_tool_access', tool_name=tool) }}">{{ tool }}</a></li>
    {% endfor %}
    </ul>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

</div>
{% endblock %}